[submodule "ext/ssbd-tools"]
	path = submodules/ssbd-tools
	url = https://github.com/tyhicks/ssbd-tools.git
[submodule "submodules/crypto-specs"]
	path = submodules/crypto-specs
	url = https://github.com/formosa-crypto/crypto-specs.git
[submodule "test/external/crypto_kem/xwing/common/JoaoDiogoDuarte_xwing"]
	path = test/external/crypto_kem/xwing/common/JoaoDiogoDuarte_xwing
	url = https://github.com/JoaoDiogoDuarte/xwing.git
